$img-size: 100px;

.app-container {
  background-color: #7ac3df;
  min-height: 100vh;

  .banner {
    background-color: #222;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      left: 45%;
      top: 0;
      bottom: 0;
      background-color: #eee;
      clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    }

    img {
      width: $img-size;
      height: $img-size;
      z-index: 3;
    }
  }

  .content {
    color: #eee;
    font: bold 36px 'GoodTimes', sans-serif;
    letter-spacing: 5px;
    padding-top: 56px;
    text-align: center;
    text-shadow: 1px 1px 4px #000;
    font-family: 'GoodTimes';
  }
}
